<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="ITSUKI" />
  <base href="https://tyz-api.herokuapp.com" />
  <link href="https://i.pinimg.com/736x/4b/7e/27/4b7e27dde43758a0544fe9abf6b180b9.jpg" rel="icon" />
    <title>ITsuki - API</title>
    <meta property="og:site_name" name="og:site_name" content="Velgrynd APIs">
    <meta property="og:title" name="og:title" content="ITsuki - Rest Api's">
    <meta property="og:url" name="og:url" content="https://api-velgrynd.herokuapp.com/">
    <meta property="og:image" name="og:image" content="../images/logo.png">
    <meta property="og:description" name="og:description" content="Free Rest Api For You">
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
    <iframe src="../audio/audio.mp3" hidden="hidden" allow="autoplay"; encrypt-media></iframe>
    </head>
  
  <body>
  <body id="page-top" onload="getvisitor();">
    <div class="container-scroller">
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../images/logo.png" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Yusuf - ITsuki Api</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/about">
                  <i class="mdi mdi-creation menu-icon"></i> About </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Welcome To ITsuki Rest Api's</h6>
                   </div>
                </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a class="nav-link">
                <div class="nav-profile-image">
                  <img src="../images/logo.png" alt="profile">
                  <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Yusuf - ITsuki</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-sosmed" aria-expanded="false" aria-controls="ui-sosmed">
              <span class="menu-title">Downloader</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-sosmed">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" target="_blank" href="/downloader/youtube?link=https://www.youtube.com/watch?v=YLiRgeU7fQw">Youtube Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/tiktok?link=https://vm.tiktok.com/ZSJcLPNpe/">Tiktok Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/tiktoknowm?link=https://vm.tiktok.com/ZSJcLPNpe">Tiktok Nowatermark</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/tiktokaudio?link=https://vm.tiktok.com/ZSJcLPNpe">Tiktok Audio</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/igdl?link=https://www.instagram.com/p/CTEDAEbpE4A/?utm_source=ig_web_copy_link">Instagram Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/fbdl?link=https://www.facebook.com/AnnaTami.chan/videos/1259337391211843">Facebook Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/twitter?link=https://twitter.com/PassengersMovie/status/821025484150423557">Twitter Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/likeedl?link=https://likee.video/@vicky_marpaung/video/7006676628722311449">Likee Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/pindl?link=https://id.pinterest.com/pin/361906520063070744">Pinterest Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/sfiledl?link=http://www.solidfiles.com/v/zdpVXjvRk8yaV">Solidfiles Downloadaer</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/mediafireDl?link=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file">Mediafire Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/scdl?link=https://soundcloud.com/user-943750457/jang-ganggu-shine-of-black">Soundcloud Downloader</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href ="/downloader/stickerpack?link=https://getstickerpack.com/stickers/pentol-7">Stickerpack Downloader</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-nfsw" aria-expanded="false" aria-controls="ui-nfsw">
              <span class="menu-title">NFSW</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-nfsw">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/api/nhentai?code=298547">Nhentai</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/nsfw/nhentaipdf?code=212121">Nhentai Downloader</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/api/nHentaiSearch?query=gotoubun">Nhentai Search</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/api/doujindesuSearch?query=gotoubun">Doujindesu Search</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-primbon" aria-expanded="false" aria-controls="ui-primbon">
              <span class="menu-title">Primbon</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-primbon">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/primbon/artinama?nama=arya">Artinama</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/pimbon/ramalanjodoh?nama=arya&pasangan=maysha">Ramal Jodoh</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-games" aria-expanded="false" aria-controls="ui-games">
              <span class="menu-title">Photooxy</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-games">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/shadow?text=Hai">shadow</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/cup?text=Hai">cup</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/captain_amerika?text=Hai&text_2=hai juga">captain amerika</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/romantic?text=Hai">romantic</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/smoke?text=Hai">smoke</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/burn_paper?text=Hai">burn paper</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/naruto?text=Hai">naruto</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/love_message?text=Hai">love message</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/tik_tok?text=Hai&text_2=hai juga">TikTok</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/flower_heart?text=Hai">flower heart</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/wodden_board?text=Hai">wodden board</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="/photooxy/glowing_neon?text=Hai">glowing neon</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-games" aria-expanded="false" aria-controls="ui-games">
              <span class="menu-title">Games</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-games">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/games/tebakgambar">Tebak Gambar</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-search" aria-expanded="false" aria-controls="ui-search">
              <span class="menu-title">Searching</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-search">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" target="_blank" href ="/search/pinterest?query=animep">Pinterest Search</a></li>
              <li class="nav-item"><a class="nav-link" target="_blank" href ="/search/konachan?query=azur_lane">ZeroChan Search</a></li>
              <li class="nav-item"><a class="nav-link" target="_blank" href ="/search/sticker?query=pentol">StickerPack Search</a></li>
              <li class="nav-item"><a class="nav-link" target="_blank" href ="/search/google?query=anime">Google Search</a></li>
              <li class="nav-item"><a class="nav-link" target="_blank" href ="/search/tiktok?query=anime">Tiktok Search</a></li>                                      
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-image" aria-expanded="false" aria-controls="ui-image">
              <span class="menu-title">Random Image</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-image">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" target="_blank" href ="/randomimg/milf">Milf</a></li>
             <li class="nav-item"><a class="nav-link" target="_blank" href ="/randomimg/waifu">Waifu</a></li>
             <li class="nav-item"><a class="nav-link" target="_blank" href ="/randomimg/husbu">Husbu</a></li>
             <li class="nav-item"><a class="nav-link" target="_blank" href ="/randomimg/loli">Loli</a></li>
             <li class="nav-item"><a class="nav-link" target="_blank" href ="/randomimg/cosplay">Cosplay</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-convert" aria-expanded="false" aria-controls="ui-convert">
              <span class="menu-title">Convert</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-convert">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" target="_blank" href="/converter/tomp3?url=https://tinyurl.com/55e43fy3">Mp4 To mp3</a></li>
             <li class="nav-item"><a class="nav-link" target="_blank" href="/converter/towebp?url=https://i.ibb.co/7CM77tx/c180e14f43cf.jpg">jpg To webp</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-other" aria-expanded="false" aria-controls="ui-other">
              <span class="menu-title">Other</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-other">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/other/nulis?text=%20aku%20sayang%20kamu">Nulis Buku</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/other/ttp?text=love you">Text to Picture</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/other/attp?text=love you">Text to Gif</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/other/ssweb?link=https://tyz-api.herokuapp.com">Ss web</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/other/removebg?link=https://images-na.ssl-images-amazon.com/images/I/51vhBLpXhCL.jpg">Remove bg</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item sidebar-actions">
              <span class="nav-link">
                <div class="border-bottom">
                  <h6 class="font-weight-normal mb-3">Made By Yusuf</h6>
                </div>
                <div class="mt-4">
                <span class="menu-icon">
                     <i class="mdi mdi-whatsapp"></i>
                   </span>
                 <a class="menu-title" href="https://wa.me/6289501208400">WhatsApp</a>
                </div>
                <div class="mt-4">
                <span class="menu-icon">
                     <i class="mdi mdi-instagram"></i>
                   </span>
                 <a class="menu-title" href="https://instagram.com/ytitsuki">Instagram</a>
                </div>
                <div class="mt-4">
                <span class="menu-icon">
                     <i class="mdi mdi-github-circle"></i>
                   </span>
                 <a class="menu-title" href="https://github.com/YusufGabut">GitHub</a>
                </div>
              </span>
            </li>
          </ul>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon ngentod-item text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card ngentod-item card-img-holder text-white">
                  <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Alamat IP <i class="mdi mdi-access-point-network mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5" id="ip">Tunggu Sebentar...</h2>
                    <h6 class="card-text">Alamat IP Kamu</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card ngentod-item card-img-holder text-white">
                  <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Pengunjung <i class="mdi mdi-eye mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5" id="visitor">Tunggu Sebentar...</h2>
                    <h6 class="card-text">Pengunjung Rest Api Ini</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card ngentod-item card-img-holder text-white">
                  <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Tanggal<i class="mdi mdi-calendar mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5" id="datetime">Tunggu Sebentar...</h2>
                    <h6 class="card-text">Tanggal Sekarang</h6>
                  </div>
                </div>
              </div>
              <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-dark d-block text-center text-sm-left d-sm-inline-block">Copyright © I T S U K I 2021</span>
              <span class="text-dark d-block text-center text-sm-left d-sm-inline-block">Theme By Velgrynd</span>
            </div>
            </footer>
        </div>
      </div>
    </div>
    
    <script src="../vendors/js/vendor.bundle.base.js"></script>
    <script src="../vendors/chart.js/Chart.min.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/todolist.js"></script>
    <script src="../js/ipanda.js"></script>
    <script src="../js/waktu.js"></script>
    <script src="../js/visitor.js"></script>
  </body> 


 

 
</html>
